body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    /*justify-content: center;
    align-items: center;
    flex-flow: column wrap;*/
    font-family: 'Segoe UI';
}

body.endsite {
    background-color: #203a60;
    display: grid;
}

h1 {
    font-size: 48px;
    /*margin-top: -150px;*/
    color: #203a60;
    margin-top: 0px;
    margin-bottom: 0px;
}

.servis-index, .vraceni {
    grid-template-areas:
    'first'
    'second';

}

.first-row {
    grid-area: first;
    justify-self: center;
    align-self: center;
}

.grid-container.second-row {
    grid-area: second;
    align-self: start;
    justify-self: center;
}

.servis h1, .reklamace h1 {
    display: flex;
    justify-content: center;
    align-items: center;    
}

h2 {
    font-size: 30px;
    margin-top: 25px;
}

.endsite h1, .endsite h2 {
    color: white;
}


img.chatbot {
    height: 100px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.endsite img {
    width: 400px;
    cursor: default;
    grid-area: img;
    margin-top: 50%;
}

.endsite .grid-container {
    grid-template-areas:
    'success img'
    'space img';
    align-self: center;
    justify-self: center;
}

.endsite .success {
    grid-area: success;
}

img:hover, .grid-item:hover {
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    align-self: center;
    justify-self: center;
    gap: 40px;
}

.vraceni .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    align-self: center;
    justify-self: center;
    gap: 40px;
}

.flex-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav {
    color: white;
    font-size: 34px;
    width: 175px;
    text-align: center;
    /*margin: 0px 30px 40px 20px;*/
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 0 6px #999;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-flow: row wrap;   
}

.back:hover {
    cursor: pointer;
    background-color: #b32727;
}

.back:active {
    background-color: #b32727;
    box-shadow: 0 4px #666;
    transform: translateY(4px);
}

.back {
    background-color: #CC3535;
}

.grid-item {
    /*background-color: #203a60;-*/
    background-color: #203a60;
    color: white;
    font-size: 34px;
    width: 350px;
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 0 6px #999;
    min-height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.grid-item.white-item {
    /*background-color: #203a60;-*/
    background-color: white;
    color: #203a60;
    border: solid 3px #203a60;
}

.servis-index .grid-item {
    min-height: 300px;    
}

.reklamace .grid-item {
    min-height: 300px;    
}

.vraceni .grid-item {
    min-height: 300px;    
}

.grid-item img {
    width: 150px;
}

.grid-item:active {
    background-color: #192e4d;
    box-shadow: 0 4px #666;
    transform: translateY(4px);
}

.grid-item:hover {
    background-color: #192e4d;
}

.grid-item.white-item:active {
    background-color: #f6f6f6;
    box-shadow: 0 4px #666;
    transform: translateY(4px);
}

.grid-item.white-item:hover {
    background-color: #f6f6f6;
}

a {
    text-decoration: none;
}

.endsite .grid-item {
    color: white;
    background-color: #CC3535;
    font-size: 25px;
    width: 250px;
    min-height: 90px;
    padding: 0px;
    margin: 50px 0px 0px 0px;
}

.endsite .grid-item:active {
    background-color: #b32727;
    box-shadow: 0 4px #666;
    transform: translateY(4px);
}

.endsite .grid-item:hover {
    background-color: #b32727;
    cursor: pointer;
}